@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

:root{
    --navy-blue: #05204a;
    --cool-white: #f4fdff;
    --grey: #6f8695;
    --primary-font: 'Roboto', sans-serif; 
    --heavy-weight: 600;
    --light-weight: 100;
    --normal-weight: 400;
}
*{
    box-sizing: border-box;
    font-family: var(--primary-font);
}body{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.master-container{
    width: 100%;
    overflow: scroll;
    display: flex;
    justify-content: center;
    overflow: auto;
    position: absolute;
    top: 12vh;
    bottom: 13vh;
}
.containerChat{
    width: 100%;
    height: auto;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    background-color: var(--cool-white);
    overflow-y: scroll;
    scroll-behavior: smooth;
}
@media screen and (min-width: 768px){
    .containerChat{
        width: 70%;
    }
}