@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --navy-blue: #05204a;
    --cool-white: #f4fdff;
    --grey: #6f8695;
    --primary-font: 'Roboto', sans-serif; 
    --heavy-weight: 600;
    --light-weight: 300;
    --normal-weight: 400;
}